* {
  box-sizing: border-box;
}

/* added variables for elements that repetead, to make changes easier */

:root {
  --primary: rgb(170, 220, 179);
  --secondary:rgb(237, 235, 196);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  background-color: var(--primary);
  padding: 20px;
}

#navBar h1 {

  width: 25%;
  font-weight: 500;
  margin: 0px 5%;
  background-color:var(--secondary);
  padding: 0px;
  color: var(--primary);
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center ;
  justify-content:space-evenly ;
  
}
#navigation a {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary) ;
}


